<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign up</title>

    <!-- CoreUI -->
    <link
      href="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.1.2/dist/css/coreui.min.css"
      rel="stylesheet"
      integrity="sha384-lBISJVJ49zh34fnUuAaSAyuYzQ2ioGvhm4As4Z1JFde0kVpaC1FFWD3f9adpZrdD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.1.2/dist/js/coreui.bundle.min.js"
      integrity="sha384-yoEOGIfJg9mO8eOS9dgSYBXwb2hCCE+AMiJYavhAofzm8AoyVE241kjON695K1v5"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main>
      <div
        class="alert alert-warning"
        role="alert"
        style="height: 240px; padding-left: 80px; padding-right: 80px"
      >
        <h5>Zhong Zhuohua G2303463J</h5>
        Git history:
        <a
          href="https://github.com/ZhuohuaZhong/SC6111-backend-study/commits/main/"
          target="_blank"
          style="cursor: pointer"
          >https://github.com/ZhuohuaZhong/SC6111-backend-study/commits/main/</a
        ><br />
        <br />
        Available funtions:<br />
        <div style="column-count: 2; column-gap: 20px">
          ✅ Register / Login with username and password<br />
          ✅ Password stored as ciphertext (use salted hash password storage)<br />
          ✅ Session on server side (stored in flask_session folder on
          server)<br />
          ✅ Logout function (clear session in Cookies)<br />
          ✅ Login function (create TEMPORARY session, login status will expire
          after CLOSING BROWSER)<br />
          ✅ "Remember me" function (create PERMANENT session, login status can
          be restored after CLOSING BROWSER)
        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: flex-start;
          height: calc(80vh - 240px);
        "
      >
        <div class="card" style="width: 18rem; margin-top: 60px">
          <div class="card-body">
            <h5 id="title" class="card-title">Sign up</h5>
            <div class="mb-1">
              <label for="signUpNameInput" class="form-label">User name</label>
              <input class="form-control" id="signUpNameInput" />
            </div>
            <div class="mb-1">
              <label for="signUpPasswordInput" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="signUpPasswordInput"
              />
            </div>
            <div class="mb-3">
              <label for="signUpConfirmPasswordInput" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                id="signUpConfirmPasswordInput"
              />
            </div>
            <div style="text-align: center; margin-top: 30px">
              <button id="signUpButton" class="btn btn-primary" type="submit">
                Sign up
              </button>
            </div>
            <div class="mt-3" style="text-align: center">
              <a
                class="nav-link"
                href="/login"
                style="cursor: pointer; color: #5856cf; font-size: 15px"
              >
                Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="{{ url_for('static', filename='sign_up.js') }}""></script>
  </body>
</html>
